[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
fix = 'autopep8 -i *.py'

[packages]
requests = "*"
slackbot = "*"
"autopep8" = "*"

[dev-packages]
ipython = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
